# OS files
.DS_Store

# Vendor files
/node_modules
# /vendor

# Cache and temporary files
/.cache
/.php-cs-fixer.cache
/.phpunit.cache
/.phpunit.result.cache
/index.dev.mjs
/tests/coverage
/tests/fixtures
/tests/tmp-vite
/tools/**/vendor
